html{
    background-image: url("https://wallpapers.com/images/hd/tree-and-hills-love-nature-8io7p33dm3kxi3rh.jpg");
    background-size: cover;
}
div{
    position: fixed;
    right: 10px;
    background-color: rgb(9, 255, 0);
    color: rgb(0, 17, 255);
}