* {
  border: border-box;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  height: 99.6vh;
  background: rgba(0, 127, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg);
  background-size: cover;
}

#heading {
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#stone {
  background-image: url(rock.png);
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 3rem;
}

#paper {
  background-image: url(paper.png);
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 3rem;
}

#scissors {
  background-image: url(scissors.png);
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 3rem;
}

#OptionsSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Options {
  border: 0.4rem solid transparent;
  /* transition-property: all;
  transition: steps(10000);
  transition-duration: 2s;
  transition-timing-function: ease-in-out; */
  transition: all 1s ease-in-out;
}

.Options:hover {
  background: rgba(5, 5, 5, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 0.4rem solid rgba(255, 255, 255, 0.18);
}

.ScoreBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
}

.Scores {
  height: fit-content;
  margin: 0rem 3rem 0rem 3rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 500;
}

#PickBtnSection {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
  fill: white;
  transform: scale(1.2);
}

.text {
  font-weight: 600;
  color: #aaaaaa;
  font-size: medium;
  color: white;
}
