* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    rgb(24, 120, 255),
    rgb(78, 78, 219),
    rgb(0, 255, 213)
  );
  box-shadow: 20px 20px 60px #531abe, -20px -20px 60px #7124ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle_1 {
  position: absolute;
  right: 26vw;
  top: 12vh;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  background-color: #eb4b98;
  background-size: cover;
  transition: all 2s ease-in-out;
}

#circle_1:hover {
  height: 35vh;
  width: 35vh;
}

#circle_2 {
  position: absolute;
  left: 30vw;
  top: 68vh;
  height: 20vh;
  width: 20vh;
  background-color: rgb(0, 255, 183);
  border-radius: 50%;
  background-size: cover;
  z-index: 0;
  transition: all 2s ease-in-out;
}

#circle_2:hover {
  height: 25vh;
  width: 25vh;
}

#app {
  height: 60vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(0.5vh);
  backdrop-filter: blur(00.5vh);
  border-radius: 7vh;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 7vh;
  transition: all ease-in-out 1s;
}

#header {
  height: 25%;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border-radius: 7vh;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #2222ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  z-index: 3;
}

#icon {
  height: 7vh;
  margin-left: 2vw;
}

#main {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputField {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 3vw;
}

#input {
  display: inline;
  outline: none;
  border-radius: 12vh;
  height: 5vh;
  width: 25vw;
  padding-left: 1vw;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #2222ff;
  position: absolute;
  left: 2.2vw;
  font-size: 1.7vh;
}

#input::placeholder {
  color: #2222ff;
  font-size: 1.7vh;
}

#button {
  display: inline;
  text-align: center;
  outline: none;
  border-radius: 12vh;
  height: 5vh;
  width: 7vw;
  background: rgb(0, 255, 162);
  background-size: 100vw;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #2222ff;
  z-index: 2;
  position: absolute;
  right: 2vw;
  font-size: 1.7vh;
  cursor: pointer;
}

#taskText {
  width: 20vw;
  list-style: none;
  color: rgb(237, 255, 34);
  font-size: 3vh;
  position: absolute;
  left: 5vw;
  top: 25vh;
}

.unchecked {
  height: 2vh;
  width: 2vh;
  margin-top: 1vh;
  background-image: url(unchecked.png);
  background-size: cover;
  background-size: 2vh;
}

.checked {
  height: 2vh;
  margin-top: 1vh;
}

.checked_li {
  height: 2vh;
  margin-top: 1vh;
}

.checked_li {
  color: rgba(237, 255, 34, 0.444);
  text-decoration: line-through;
}

.liContainer {
  width: 20vw;
}

li {
  display: inline-flex;
  width: 20vw;
}

.uncheckedImg {
  height: 2vh;
  width: 2vh;
  margin-right: 1vh;
  margin-top: 0.4vh;
  display: inline;
}

.listContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: normal;
  cursor: pointer;
}

.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 4vh;
  position: relative;
  justify-self: flex-end;
}

.cross:hover {
  background-color: #6767674d;
  border-radius: 50%;
}

.listContainerFirst {
  width: 25vw;
  height: 5vh;
  display: inline-flex;
  align-items: center;
  word-wrap: anywhere;
  margin: 1vh 0 1vh 0;
  cursor: pointer;
}

.listContainerFirst p {
  display: flex;
  align-items: center;
  margin: 0;
}
