h1 {
  margin: 0px 0px 0px 0px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#Ring {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 20px solid rgb(154, 154, 154);
  border-top: 20px solid rgb(44, 44, 44);
  animation-name: Loader;
  animation: Loader 1s ease-in-out infinite normal;
  margin: 20px;
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  transform: rotate(360deg);
}
@keyframes Loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
