body{
    text-align: center;
}
div{
    border-style: groove;
    border-radius: 5px;
}
#Container{
    display:flex;
    height: 500px;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.SmallBoxes{
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
}
#Div_1{
    background-color: rgb(255, 0, 0);
}
#Div_2{
    background-color: rgb(0, 255, 0);
}
#Div_3{
    background-color: rgb(0,0,255);
}
#Div_4{
    background-color: rgb(100, 0, 255);
}
#Div_5{
    background-color: aqua;
}