body{
    text-align: center;
}
div{
    border-style: groove;
    border-radius: 5px;
}
#Container{
    display:flex;
    height: 500px;
    width: 500px;

}
.SmallBoxes{
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
}
#Div_1{
    background-color: aqua;
}
#Div_2{
    background-color: aqua;
}
#Div_3{
    background-color: aqua;
}
#Div_4{
    background-color: aqua;
}
#Div_5{
    background-color: aqua;
}