#NavBar{
    background-color: black;
    height: 40px;
    width: 100vw;
    padding-top:20px;
} 
.Anchs{
    text-decoration: none;
    color: white;
    margin: 0px 200px 0px 0px;
}
button{
    background-color: rgb(255, 132, 0);
    color: black;
}
img{
    height: 40px;
}
