* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #163677, #4e0857);
  display: flex;
  align-items: center;
  justify-content: center;
}

#ToDoApp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50vh;
  width: 30vw;
  border-radius: 1vh;
}

#MainHeading {
  align-self: flex-start;
  margin-top: 5vh;
  margin-left: 3vw;
  font-size: 3vh;
  width: 11vw;
  word-wrap: normal;
}

#icon {
  align-self: flex-start;
  height: 4vh;
  margin-top: 4.5vh;
  margin-left: 1vw;
}

#usersTask {
  background-color: #eaedef;
  height: 6vh;
  width: 22vw;
  border: none;
  border-radius: 10vh;
  padding-left: 2vw;
  position: absolute;
  top: 38vh;
  left: 38vw;
  border: none;
  outline: none;
}

#btn {
  background-color: #ff653b;
  height: 6vh;
  width: 7vw;
  border: none;
  border-radius: 10vh;
  position: absolute;
  top: 38vh;
  left: 55vw;
  font: inherit;
  color: white;
  cursor: pointer;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 22vw;
  user-select: none;
}

#listContainer li {
  list-style: none;
  font-size: 2.5vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
