/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  border: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Inconsolata", monospace;
}

body {
  height: 99.67vh;
  background: rgba(0, 127, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-image: url(./Components/windows-11-dark-mode-abstract-background-black-background-3840x2160-8710.jpg);
  background-size: cover;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#heading {
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.637);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 0.1vh solid rgba(255, 255, 255, 0.18);
  margin-bottom: 6vh;
}

#resultArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  color: white;
  overflow-y: hidden;
}

.result {
  padding-top: 4vh;
  margin: 0vw 7vw 0vw 7vw 0vw;
  font-size: 8vh;
  color: white;
  font-weight: 500;
  width: 30vh;
  font-family: "Inconsolata";
  overflow-y: scroll;
}

#inputField {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#promptInput {
  display: inline;
  outline: none;
  border-radius: 12vh;
  height: 5vh;
  width: 50vw;
  padding-left: 1vw;
  padding-right: 8vw;
  background: rgba(0, 0, 0, 0.363);
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.637);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(167, 167, 167);
  left: 2.2vw;
  font-size: 2vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 12vh;
  height: 5vh;
  width: 7vw;
  background-color: #e52227;
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.637);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  z-index: 2;
  right: 20.25vw;
  font-size: 3vh;
  cursor: pointer;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

#result {
  border: none;
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #aaaaaa;
  font-size: 1.5vh;
  color: white;
  font: inherit;
  font-size: 3vh;
}

#result::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.363);
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.637);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 0.7vw;
}

#result::-webkit-scrollbar-thumb {
  width: 0.7vw;
  background: rgba(0, 0, 0, 0.363);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
