div{
    background-color: black;   
    border: 20px;
    border-color: rgb(0, 183, 255);
    border-radius: 20px;
    border-style: groove;
    height: 300px;
    width: 300px;
    padding-left: 50px;
    padding-top: 50px;
    transition: all;
    transition-duration:5s;
}
/* div:hover{
    background-color:rebeccapurple;
    color: rgb(145, 255, 0);
} */
div:active{
    background-color:rebeccapurple;
    color: rgb(145, 255, 0);
}