div{
    Height: 50px;
    width: 50px;
}
@media (min-width:0px) and (max-width:300px){
    div{
        background-color: green;
    } 
}
@media (min-width:300px) and (max-width:400px){
    div{
        background-color:pink;
    } 
}
@media (min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    } 
}
@media (min-width:600px) and (max-width:100vw){
    div{
        background-color: blue;
    } 
}