.Boxes{
    width: 500px;
    height: 500px;
    display: inline-block;
}
#Box1{
    position: static;
    background-color: aqua;
    top: 100px;
}
#Box2{
   position: relative;
   background-color: red;
   top: 100px;
}
#Box3{
    position: absolute;
    background-color: rgb(255, 0, 153);
    top: 200px;
}   
#Box4{
   position: fixed;
   background-color: rgb(0, 26, 255);
   bottom: 0px;
   right: 00px;
}
#Box5{
    position: sticky;
    background-color: rgb(242, 255, 0);
}