img{
    width: 100px;
    padding: 18px 0px 0px 18px ;
}
#Nav_Bar{
    background-color: black;
    height: 60px ;
    color: white;
}

a{
    margin: 0px 200px 0px 0px ;
    color : white ;
    text-decoration:none;
    text-align: center;
}
button{
    background-color: #f08804;
    margin: bottom 20px;
}
.Those_3_Divs{
    height: 500px;
    width: 500px;
    margin: 50px;
    border-style: groove;
    border-color:#f08804;
    border-width: 30px;
    display: inline-block;
}
#Div_1{
    background-image:url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/dec/pc/sbc/440X460_4.jpg);
}
#Div_2{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/dec/pc/sbc/440X460_2.jpg);
}
#Div_3{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/dec/pc/sbc/440X460_1.jpg);
}
#Div_4{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/dec/pc/sbc/440X460_6.jpg);
}
footer{
    background-color: black;
    height: 60px ;
    color: white;
}
#CopyWrite{
    text-align: center;
    padding: 20px 0px 0px 0px;
}
#Logo{
    visibility:inline;
}
.Those{
    position: relative;
    bottom: 12.5px;
    border-image: auto;
}