* {
  margin: 0px;
  font-family: Arial;
  border: border-box;
}

.Border {
  border: 2px solid transparent;
  border-radius: 3px;
}

.Border:hover {
  border: 1.5px solid white;
  border-radius: 3px;
}

.Navbar {
  width: 100vw;
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#Nav-Logo {
  height: 60px;
  width: 113px;
}

#Logo {
  display: block;
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 113px;
  margin: 3px 3px 0px 0px;
}

#Nav-Address-Border {
  display: flex;
  align-items: center;
  margin-right: 50px;
  height: 50px;
  width: 90px;
}

#Nav-Address-Border:hover {
  cursor: pointer;
}

#Nav-Address {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
}

#P1 {
  margin-left: 15px;
  margin-bottom: 0px;
  color: #cccccc;
  font-size: 0.85rem;
}

#P2 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 5px;
}

#Icon-India {
  display: flex;
  width: 90px;
}

#Nav-Search-Bar {
  display: flex;
  height: 50px;
  align-items: center;
  width: 620px;
  height: 40px;
  justify-content: space-evenly;
}

#Nav-Search-Bar:hover {
  border: 2px solid orange;
}

#Search-Select {
  color: #0f1111;
  height: 40px;
  background-color: #e6e6e6;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

#Search-Select:hover {
  cursor: pointer;
}

#Search-Input {
  height: 38px;
  border: none;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

#Search-Button {
  height: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  width: 45px;
  font-size: 1.2rem;
  background-color: #febd68;
}

#Search-Button:hover {
  cursor: pointer;
}

.Toolbar_Layout {
  color: white;
  text-decoration: none;
}

.UpperText {
  font-size: 0.7rem;
}

.LowerText {
  font-size: 0.85rem;
  font-weight: 700;
}

#Sign_In-Border {
  height: 50px;
  display: flex;
  align-items: center;
}

#Returns-Border {
  height: 50px;
  display: flex;
  align-items: center;
}

#My_Cart {
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 50px;
}

#My_Cart:hover {
  cursor: pointer;
}

#Menu-Bar {
  width: 100vw;
  height: 39px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu-Bar-Layout {
  display: flex;
  height: 39px;
  width: 60px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 1em;
  width: fit-content;
  margin-right: 10px;
}

.Menu-Bar-Layout:hover {
  cursor: pointer;
}

#Menu-Icon {
  margin-right: 5px;
}

#Menu {
  font-weight: 700;
}

#Menu-Bar-Options {
  display: flex;
  width: 83%;
}

#Deals_In_Electronics{
  font-size: 15px;
  font-weight: 700;
}

#Hero_Section{
  display: flex;
  justify-content:center;
  background-image: url(https://m.media-amazon.com/images/I/61CiqVTRBEL._SX3000_.jpg);
  background-size:cover;
  height: 300px;
  margin-bottom: 35px;
}

#ShopOnIndia{
  background-color: white;
  height: 40px;
  width: 80%;
  align-self: flex-end;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#ShopOnIndia_Line{
  align-self: flex-end;
}

#Amazon_in{
  text-decoration: none;
  color: rgb(00, 71, 85);
}

#ShopSection {
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content:space-evenly;
  align-content: center;
}

.Box{
  display: inline-block;
  height: 300px;
  width: 20%;
  border: 5px groove black;
}
