* {
  margin: 0px;
  font-family: Arial;
  border: border-box;
  overflow-x: hidden;
}

.Border {
  border: 2px solid transparent;
  border-radius: 3px;
}

.Border:hover {
  border: 2px solid white;
  border-radius: 3px;
}

.Navbar {
  width: 100vw;
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#Nav-Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 113px;
}

#Logo {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 113px;
  margin: 3px 3px 0px 0px;
}

#Nav-Address-Border {
  display: flex;
  align-items: center;
  margin-right: 50px;
  height: 50px;
  width: 90px;
}

#Nav-Address-Border:hover {
  cursor: pointer;
}

#Nav-Address {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
}

#P1 {
  margin-left: 15px;
  margin-bottom: 0px;
  color: #cccccc;
  font-size: 0.85rem;
}

#P2 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 5px;
}

#Icon-India {
  display: flex;
  width: 90px;
}

#Nav-Search-Bar {
  display: flex;
  height: 50px;
  align-items: center;
  width: 620px;
  height: 40px;
  justify-content: space-evenly;
  border: 2px solid transparent;
}

#Nav-Search-Bar:hover {
  border: 2px solid #ff9900;
}

#Search-Select {
  color: #0f1111;
  height: 40px;
  background-color: #e6e6e6;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

#Search-Select:hover {
  cursor: pointer;
}

#Search-Input {
  height: 38px;
  border: none;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

#Search-Button {
  height: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  width: 45px;
  font-size: 1.2rem;
  background-color: #febd68;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Search-Button:hover {
  cursor: pointer;
}

.Toolbar_Layout {
  color: white;
  text-decoration: none;
}

.UpperText {
  font-size: 0.7rem;
}

.LowerText {
  font-size: 0.85rem;
  font-weight: 700;
}

#Sign_In-Border {
  height: 50px;
  display: flex;
  align-items: center;
}

#Returns-Border {
  height: 50px;
  display: flex;
  align-items: center;
}

#My_Cart {
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 50px;
  overflow-y: hidden;
}

#CartIcon {
  overflow-y: hidden;
}

#My_Cart:hover {
  cursor: pointer;
}

#Menu-Bar {
  width: 100vw;
  height: 39px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu-Bar-Layout {
  display: flex;
  height: 35px;
  width: 60px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 1em;
  width: fit-content;
  margin-right: 10px;
}

.Menu-Bar-Layout:hover {
  cursor: pointer;
}

#Menu-Icon {
  margin-right: 5px;
}

#Menu {
  font-weight: 700;
}

#Menu-Bar-Options {
  display: flex;
  width: 83%;
}

#Deals_In_Electronics {
  font-size: 15px;
  font-weight: 700;
}

#Hero_Section {
  display: flex;
  justify-content: center;
  background-image: url(hero_image.jpg);
  background-size: cover;
  background: linear-gradient(to-right white);
  height: 300px;
  margin-bottom: 35px;
  margin-bottom: 0px;
}

#ShopOnIndia {
  background-color: white;
  height: 40px;
  width: 80%;
  align-self: flex-end;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

#Amazon_in {
  text-decoration: none;
  color: rgb(00, 71, 85);
}

#ShopSection {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #e3e6e6;
  flex-wrap: wrap;
  overflow: hidden;
}

.Box {
  display: inline-block;
  height: 450px;
  width: 20vw;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  padding: 20px 0px 15px;
  display: block;
  background-color: white;
  overflow-y: hidden;
  padding: 25px 20px 10px 20px;
  margin: 25px 10px 0px 10px;
}
.Box:hover {
  cursor: pointer;
}
.Shop_Now {
  text-decoration: none;
  color: #017185;
  margin-bottom: 20px;
}

#BoxImage1 {
  background-image: url(box1_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}
#BoxImage2 {
  background-image: url(box2_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}
#BoxImage3 {
  background-image: url(box3_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}
#BoxImage4 {
  background-image: url(box4_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}

#BoxImage5 {
  background-image: url(box5_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}
#BoxImage6 {
  background-image: url(box6_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}
#BoxImage7 {
  background-image: url(box7_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}

#BoxImage8 {
  background-image: url(box8_image.jpg);
  background-size: cover;
  height: 350px;
  overflow-y: hidden;
  margin: 10px 0px 25px 0px;
}

#Divider {
  background-color: #e3e6e6;
  height: 25px;
}
#BackToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #364759;
  height: 50px;
  color: white;
  text-decoration: none;
}

#BackToTop:hover {
  background-color: #485768;
}

#FooterAccessibility {
  height: 410px;
  width: 100vw;
  background-color: #222f3e;
  display: flex;
  align-items: center;
}

#FooterVerticalRow {
  display: flex;
  justify-content: center;
  height: 320px;
  width: 100vw;
  background-color: #222f3e;
}

.Heading {
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

#FooterLinkColoumn1 {
  width: 200px;
  overflow-y: hidden;
}

.FooterAccessibilityLinks {
  display: block;
  color: #d9dada;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
}

.FooterAccessibilityLinks:hover {
  text-decoration: underline;
}

.FooterLinksSpacer {
  width: 100px;
}

#FooterItemsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #232f3e;
}

#HrLine {
  border-top: 1px solid #3a4553;
  height: 0.1px;
  border: border-box;
  background-color: #3a4553;
}

#FooterLogo {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 113px;
  margin: 3px 3px 0px 0px;
}

#Language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 140px;
  color: white;
  text-decoration: none;
}

.Language_Text {
  text-decoration: none;
  color: white;
  margin: 0px 0px 0px 5px;
}

#CaretUpIcon {
  margin: 0px 0px 0px 5px;
}

#Currency {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  color: white;
  text-decoration: none;
}

#Country {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  color: white;
  text-decoration: none;
}

#Item_Name {
  font-size: 22px;
}

#FooterDeskLine {
  background-color: #131a22;
  height: 30vw;
  display: flex;
  justify-content: center;
}

.FooterDeskItem {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100px;
  height: min-content;
  text-decoration: none;
  color: #dddddd;
  text-decoration: none;
  font-size: 13px;
  overflow-y: hidden;
}

.FooterDeskItem:hover {
  text-decoration: underline;
}

.FooterDeskAnchor {
  background-color: pink;
}

.FooterDeskSpan {
  color: #999999;
  text-decoration: none;
  margin-bottom: -20px;
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
}
