* {
  margin: 0px;
  font-family: Arial;
  border: border-box;
}
.Border {
  border: 2px solid transparent;
  border-radius: 3px;
}
.Border:hover {
  border: 1.5px solid white;
  border-radius: 3px;
}
.Navbar {
  width: 100vw;
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}
#Nav-Logo {
  height: 60px;
  width: 113px;
}
#Logo {
  display: block;
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 113px;
  margin: 3px 3px 0px 0px;
}
#Nav-Address-Border {
  display: flex;
  align-items: center;
  height: 50px;
  width: 90px;
}
#Nav-Address {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
}
#P1 {
  margin-left: 15px;
  margin-bottom: 0px;
  color: #cccccc;
  font-size: 0.85rem;
}
#P2 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 5px;
}
#Icon-India {
  display: flex;
  width: 90px;
}
